<footer class="footer">
  <p>Copyright © Nessan Fitzmaurice.
    <br />
    Except where noted otherwise, this project is licensed under the
    <a href="https://opensource.org/license/mit/">MIT License </a>
  </p>
</footer>